{% extends 'layout.html' %} {% block content %}

<!-- ***** Welcome Area Start ***** -->
<div class="welcome-area" id="welcome">

    <!-- ***** Header Text Start ***** -->
    <div class="header-text">
        <div class="container">
            <div class="row">
                <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">
                    <h1>
                        <hh1><strong>세</strong></hh1>입자가
                        <hh2><strong>말</strong></hh2>하는 우리
                        <hh3><strong>집</strong></hh3>
                    </h1>
                    <p>직접 살아보고 남긴 생생한 후기들을 구경하세요!</p><br>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Header Text End ***** -->
</div>
<!-- ***** Welcome Area End ***** -->



<!-- ***** Home Parallax Start ***** -->
<section class="mini" id="work-process">
    <div class="mini-content">
        <div class="container">
            <div class="row">
                <div class="offset-lg-3 col-lg-6">
                    <div class="info">
                        <h1>후기 찾아보기</h1>
                        <form id="contact" action="/search" method="get">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <fieldset>
                                        <input name="search_keyword" type="text" class="form-control" id="name" placeholder="신공학관 101호" required="">
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <button type="submit" id="form-submit" class="main-button">찾아보기</button>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- ***** Mini Box Start ***** -->
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a href="/search?cat=money" class="mini-box">
                        <i><img src="../static/images/work-process-item-01.png" alt=""></i>
                        <strong>가성비주의</strong>
                        <span>우헿헤헿헹 저는 돈이 없어요ㅠㅠ</span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a href="/search?cat=easy" class="mini-box">
                        <i><img src="../static/images/work-process-item-02.png" alt=""></i>
                        <strong>편의주의</strong>
                        <span>집 주변에 있을 건 있어야지!</span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a href="/search?cat=safe" class="mini-box">
                        <i><img src="../static/images/work-process-item-03.png" alt=""></i>
                        <strong>안전주의</strong>
                        <span>안전한 곳에서 살고싶어요</span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a href="/search?cat=space" class="mini-box">
                        <i><img src="../static/images/work-process-item-04.png" alt=""></i>
                        <strong>공간주의</strong>
                        <span>하늘아래 모든 땅이 내 집이다</span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a href="/search?cat=facility" class="mini-box">
                        <i><img src="../static/images/work-process-item-05.png" alt=""></i>
                        <strong>시설주의</strong>
                        <span>그래도 사람 사는 집에서 살아야지</span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a href="/search?cat=god" class="mini-box">
                        <i><img src="../static/images/work-process-item-06.png" alt=""></i>
                        <strong>건물주주의</strong>
                        <span>좋은 건물주님께 평생의 충성을</span>
                    </a>
                </div>
            </div>
            <!-- ***** Mini Box End ***** -->
        </div>
    </div>
</section>
<!-- ***** Home Parallax End ***** -->


<!-- ***** Blog Start ***** -->
<section class="section" id="blog">
    <div class="container">
        <!-- ***** Section Title Start ***** -->
        <div class="row">
            <div class="col-lg-12">
                <div class="center-heading">
                    <h2 class="section-title">이번주 인기 후기</h2>
                </div>
            </div>
            <div class="offset-lg-3 col-lg-6">
                <div class="center-text">
                    <p>직접 보지 않아도 마치 내가 그곳에 서 있는 것처럼</p>
                </div>
            </div>
        </div>
        <!-- ***** Section Title End ***** -->

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="blog-post-thumb">
                    <div class="img">
                        <img src="../static/images/blog-item-01.png" alt="">
                    </div>
                    <div class="blog-content">
                        <h3>
                            <a href="/review_num=3">우리집 집주인 짱짱</a>
                        </h3>
                        <div class="text">
                            아니 올해 집세를 모두 면제해주시겠대요!!
                        </div>
                        <a href="#" class="main-button">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="blog-post-thumb">
                    <div class="img">
                        <img src="../static/images/blog-item-02.png" alt="">
                    </div>
                    <div class="blog-content">
                        <h3>
                            <a href="/review_num=2">여기 바선생님 나옵니다</a>
                        </h3>
                        <div class="text">
                            제가 군대에 있을때 식당에서 쥐를 봤는데 그 쥐보다 큰 바선생님을 여기서 봤습니다.
                        </div>
                        <a href="#" class="main-button">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="blog-post-thumb">
                    <div class="img">
                        <img src="../static/images/blog-item-03.png" alt="">
                    </div>
                    <div class="blog-content">
                        <h3>
                            <a href="/review?review_num=1">8시 59분 기상 1교시 등교 개꿀</a>
                        </h3>
                        <div class="text">
                            그냥 나오면 학교임ㅋㅋㅋ
                        </div>
                        <a href="#" class="main-button">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Blog End ***** -->
<!-- ***** Counter Parallax Start ***** -->
<section class="counter">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="count-item decoration-bottom">
                        <strong>126</strong>
                        <span>Projects</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="count-item decoration-top">
                        <strong>63</strong>
                        <span>Happy Clients</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="count-item decoration-bottom">
                        <strong>18</strong>
                        <span>Awards Wins</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="count-item">
                        <strong>27</strong>
                        <span>Countries</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Counter Parallax End ***** -->

{% endblock %}}