<html lang="ko">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>로그인</title>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.css">

    <link rel="stylesheet" href="../static/css/templatemo-softy-pinko.css">

</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <div class="login-page">
        <div class="form">
            <form class="login-form" action="login" method="POST">
                <a href="{{ url_for('home') }}" class="logo">
                    <img src="../static/images/login-logo.png" alt="Softy Pinko" />
                </a>
                <p>
                    <p>
                        <input type="text" name="username" placeholder="아이디" />
                        <input type="password" name="password" placeholder="비밀번호" />
                        <button type="submit">로그인</button>
                        <p class="message">계정이 없으신가요? <a href="{{ url_for('signup') }}">회원가입하기</a></p>
            </form>
        </div>
    </div>

    <!-- jQuery -->
    <script src="../static/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="../static/js/popper.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="../static/js/scrollreveal.min.js"></script>
    <script src="../static/js/waypoints.min.js"></script>
    <script src="../static/js/jquery.counterup.min.js"></script>
    <script src="../static/js/imgfix.min.js"></script>

    <!-- Global Init -->
    <script src="../static/js/custom.js"></script>


</body>

</html>