<html lang="ko">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>후기 찾아보기</title>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.css">

    <link rel="stylesheet" href="../static/css/templatemo-softy-pinko.css">

</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->


    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="/templates/index.html" class="logo">
                            <img src="../static/images/logo.png" alt="" />
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="#welcome" class="active">홈</a></li>
                            <li><a href="#work-process">후기 찾아보기</a></li>
                            <li><a href="#blog">인기 후기</a></li>
                            <li><a href="login.html">로그인</a></li>
                            <li><a href="signup.html">회원가입</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <div class="welcome-area2" id="welcome">

        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            <div class="container">
                <div class="row">
                </div>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->

    <section class="section padding-top-70 padding-bottom-0" id="features">
        <div class="container">
            <div class="row">
                <!-- ***** 후기 ***** -->
                <div class="col-lg-3 col-md-12 col-sm-12 align-self-center">
                    <img src="../static/images/left-image.png" class="rounded img-fluid d-block mx-auto" alt="App">
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix">
                    <div class="left-heading">
                        <h2 class="section-title">8시 59분 기상 1교시 등교 개꿀</h2>
                    </div>
                    <div class="left-text">
                        <p>그냥 나오면 학교임ㅋㅋㅋ</p>
                        <p>진짜 위치 하나는 개좋은듯 단점이라면 학교 가까운 만큼 소음 쫌 았는데 노상관</p>
                        <li><a href="#">자세히 보기</a></li>
                    </div>
                    
                </div>
                <div class="col-lg-12">
                    <br>
                </div>
                <!-- ***** 후기 ***** -->
                <div class="col-lg-3 col-md-12 col-sm-12 align-self-center">
                    <img src="../static/images/left-image.png" class="rounded img-fluid d-block mx-auto" alt="App">
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix">
                    <div class="left-heading">
                        <h2 class="section-title">여기 바선생님 나옵니다</h2>
                    </div>
                    <div class="left-text">
                        <p>제가 군대에 있을때 식당에서 쥐를 봤는데 그 쥐보다 큰 바선생님을 여기서 봤습니다.</p>
                        <p>건물이랑 내부 보면 깔끔하고 좋은것 같지만 뭔가 문제가 있나 봅니다. 바선생님 너무 자주 출몰합니다...</p>
                        <li><a href="#">자세히 보기</a></li>
                    </div>
                </div>
                <div class="col-lg-12">
                    <br>
                </div>
                <!-- ***** 후기 ***** -->

            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="hr"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->

    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright">Copyright &copy; 2021 고카톤 - Team_끝나고맛있는거먹으러가자</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="../static/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="../static/js/popper.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="../static/js/scrollreveal.min.js"></script>
    <script src="../static/js/waypoints.min.js"></script>
    <script src="../static/js/jquery.counterup.min.js"></script>
    <script src="../static/js/imgfix.min.js"></script>

    <!-- Global Init -->
    <script src="../static/js/custom.js"></script>

</body>

</html>